.Quote_Container_Main{
    display:flex;

    min-width: 20%;
    max-width: 50%;
}


.Quote_Container{
    width: 100%;
    height: 100%;
    padding:2% 2% 2% 7%;
    margin: 2%;
}

form{
    margin-bottom: 3%;
    margin: 2%;
}

.error{
    color:red
}
